<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="./style.css">
</head>
<html>
    <body>
    <a href="http://localhost:3000/logout"> <Button> Log Out </Button></a>
    <a href="http://localhost:3000/api/movies"> Movies  </a>
    <a href="http://localhost:3000/api/actors"> Actors  </a>
      <a href="http://localhost:3000/login"> <Button > Login </Button></a>
    
    <p>{{isAuthenticated}}</p>
    </body>
</html>