<!DOCTYPE html>
<html>
    <style>
        .container{
                    display: grid;
                    border: 1px solid black;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    gap: 10px;
                    width:75%;
                    height: 100vh;
                    margin: auto;
                    justify-content: center;
        }
        .card {
                    
                    height: 150px;
                    margin-right: 5px;
        }
        .img img
        {
          width:100%;
          height: 97%;
        }
    </style>
    <body>
    <a href="http://localhost:3000/logout"> <Button> Log Out </Button></a>
      <div id="btns">
    {{!-- All the links for different Pages --}}
     </div>
    <div class="container">
   {{#each movies as |movie|}}
   <div class="card">
  <a class = ".img" href= "http://localhost:3000/api/movies/{{movie._id}}"><img src="{{movie.poster}}" alt="picture not found"></a>
  <p>{{movie.name}}</p>
   </div>
    {{/each}}
    </div>
    </body>
    <script>
      // pagination 
     const value = {{numberOfPages}}
     for (page = 1 ; page <= value; page++) 
     {
      const href =  document.createElement("a")
        href.setAttribute('href',`http://localhost:3000/api/actors?page=${page}`);
        const btn = document.createElement("button");
        const pgNo = document.createTextNode(page);
        btn.append(pgNo)
        href.appendChild(btn)
       document.getElementById("btns").appendChild(href);
     }
</html>